* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.header {
  background-color: #ffa500;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  display: flex;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
}

.header .separator {
  grid-column: 2;
  height: 100%;
  width: 3px;
  margin: 0 20px;
  background-color: #333;
}

.header .condo-name {
  grid-column: 3;
  font-size: 20px;
  justify-self: end;
}

.header .actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .actions img {
  width: 24px;
  height: 24px;
}

.navigation {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 53px;
  height: 53px;
}

.navigation .nav-left,
.navigation .nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;
}

.navigation button,
.navigation a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.navigation button:hover,
.navigation a:hover {
  background-color: #555;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px 50px;
  width: 85%;
  height: 80%;

  margin: auto;
}

.section {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.noticias,
.forum,
.enquetes,
.mensagens {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noticia,
.forum-post,
.enquete,
.mensagem {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.noticia,
.forum-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forum-post .comments {
  background-color: #00f;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enquete input[type="text"] {
  border: none;
  border-bottom: 1px solid #333;
  padding: 5px;
  width: 100%;
}

.mensagens input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.navigation .nav-left .menu-container {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: slideDown 0.3s ease-out;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
