* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../imgs/fundo.png");
    overflow: hidden;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.menu {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 200px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
}

.bar {
    width: 300px;
    height: 500px;
    margin-top: 90px;
    border-radius: 10px;
    background-color: white;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 275px;
}

.grafico {
    width: 700px;
    height: 400px;
    margin-top: 70px;
    margin-left: 50px;
}

p {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    top: -220px;
    margin-top: 5px;
    margin-left: 20px;
}

.pla {
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    margin-top: 70px;
    margin-left: 45px;
    justify-content: space-between;
    border-radius: 10px;
}

.acom {
    width: 200px;
    height: 50px;
    margin-top: 90px;
    margin-left: 45px;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.rela {
    width: 200px;
    height: 50px;
    margin-top: 110px;
    margin-left: 45px;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 10px;
}